<div class="row">
	<div class="col-md-12 col-sm-12 col-xs-12">
		
		
		
        <div class="col-md-3 col-sm-4 col-xs-12">
          <div class="info-box">
          	<div class=" col-md-12" style=" padding: 5px 10px 5px 10px;">
              <span class="info-box-text box-title " style="  text-transform: capitalize;"><b># HP Samsung murah meriah mantab </b>
              </span>
            </div>
            <img src="asset/img/user5-128x128.jpg" class="img-responsive">

            <div class=" " style="width:60%; padding: 5px 10px;">
              <span class="info-box-text ">CPU Traffic</span>
              <span class="info-box-number"><small>Rp.</small>90.000</span>

            </div>

            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
        </div>
        <!-- /.col -->
     	
     	<div class="col-md-9 col-sm-8 col-xs-12">
          <div class="info-box" style=" padding: 5px 10px 5px 10px;">
           <span class="info-box-number "># Detail</span>
           <hr>

          <p class="text-justify"> &nbsp; &nbsp;  bla bla bla bal hh alkaja kaja h amham nm yuyueuhuenhcbhdnd cnncj ncjfn cjnjdc jjnd jhcjdnc jcb cjbc jcjc jcjd jcbd ccjn jc jcbc jce cjcbj fnf knfnk fkjkf km yusni chdc icdncduc ncj dbcd cdc dusdks iisc c jdicdnjc icd  c cdcj dcj codcjsd osnscjee cnej </p>
          <hr>
           <span class="info-box-number">Seller : <small><a href="./?page=store">Makazino </a></small> </span>
          
          	
            

           
            <!-- /.info-box-content -->
          </div>
          <!-- /.info-box -->
          <div class="">
              <button type="button" class="btn btn-primary col-md-4 col-sm-12 col-xs-12">Buy</button>	
        </div>
        </div>
        

	</div>
</div>